.title-header{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;

    @media @phone{
        width: 100%;
    }

    h1{
        font-size: 5rem;
        text-align: center;
        margin: 15px 0;

        @media @phone{
            font-size: 4rem;
        }
    }

    nav{
        display: flex;
        justify-content: space-between;
        text-align: center;

        a{
            .nav-a-properties(1.8rem, @header-font-color, 10px 20px);
            margin-bottom: 10px;

            @media @phone{
                font-size: 1.4rem;
                word-break: keep-all;
                overflow: visible;
            }
        }
    }
}